
.header {
  text-align: center;
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  height: auto;
  width: 500px;
}

/*
.photoDescription {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
*/
